Cluster "{{cluster_name}}"
==========================

General Information
-------------------
This is the cluster named "{{cluster_name}}". It contains {{count_samples}} samples. {{project_sentence}}

Samples
-------
{{#dropped_samples}}
However, {{count_dropped_samples}} samples were excluded because their read count was below the threshold of {{read_count_cutoff}}. This cutoff was calculated by taking the average read counts in all samples and multiplying the result by a {{read_count_cutoff_factor}} factor.
{{/dropped_samples}}

Some summary information the samples is given in table 1 below.

{{sample_table}}

-------

Processing
----------
* This report (and all the analysis) was generated using the SIFES project at: <{{project_url}}>

* A more detailed peer reviewed article has been [published in PLoS ONE](http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0116955) describing parts of this method.

* Version `{{project_version}}` of the pipeline was used.

* This document was generated at `{{now}}`.

{{#git}}
* The exact git hash of the latest commit was: {{git_hash}}

* Also more simply referred to by its shortened tag `{{git_tag}}`.
{{/git}}
-------

{{#location}}
Location
--------
Since the samples included all have longitude and latitude in their associated data, we can draw maps of where they were originally taken.

{{location}}

-------
{{/location}}

Input data
----------
Summing the reads from all the samples, we have {{count_sequences}} sequences to work on. Before starting the analysis we can look at the length distribution pattern that these reads form in figure \ref{input_length_dist}.

{{input_length_dist}}

-------

Clustering
----------
Two sequences that diverge by no more than a few nucleotides are probably not produced by ecological diversity. They are most likely produced by errors along the laboratory method and the sequencing. Therefor, we place them together in one unit, called an OTU. On the other hand, a sequence that does not have any such similar-looking brothers is most likely the product of a recombination (chimera) and is discarded. This process is done using {{clustering_citation}}. The publication is available at:

> <{{clustering_publication}}>

The similarity threshold chosen is {{clustering_threshold}}%. Exactly {{otus_total}} OTUs are produced.

-------

Classification
--------------
Relying on databases of ribosomal genes such as Silva, we can classify each OTU and give it an approximative affiliation. This provides a taxonomic name to each OTU. This is done using {{classify_citation}} and {{classify_database}}.

Out of our {{otus_total}} OTUs, some are totally unclassified while others have predictions at different positions in the tree of life. The proportion of classified OTUs is summarized below:

{{otu_classified_table}}

-------

OTU filtering
-------------
At this point we are going to remove some OTUs. All those pertaining to any of the following phyla are discarded: {{unwanted_phyla}}. This leaves us with {{otus_filtered}} 'good' OTUs. As OTUs contain a varying number of sequences in them, we can plot this distribution in figure \ref{otu_sizes_graph}.

{{otu_sizes_graph}}

-------

OTU table
---------
Now we can take our good OTUs and pick them apart, producing a table with OTUs as rows ({{otus_filtered}}) and samples as columns ({{count_samples}}). Each cell tells us how many sequences are participating in the given OTU originating from the given sample. This table is too big to be viewed directly here. However we can plot some of its properties to better understand how sparse it is as seen in figures \ref{otu_sums_graph}, \ref{sample_sums_graph} and \ref{cumulative_presence}:

{{otu_sums_graph}}

{{sample_sums_graph}}

{{cumulative_presence}}

-------

Taxa tables
-----------
If we modify the rows of our table to become taxonomic names instead of OTUs, some rows will have the same affiliations and will be merged together by summation. This procedure enables us to create taxa tables, which resemble OTU table somewhat. Such names can be made at several levels. It's important to consider the difference between an OTU table and a taxa table.

-------

Composition
-----------
At this point, one of the most obvious graphs to produce is a bar-chart detailing the composition in terms of taxonomy of every one of our samples. Once again, this can be done at several levels or ranks of classification ranging from Domain to Species. At levels that are too deep such visualization become too crowded and unreadable. This of course depends on the complexity of the samples. Here are plotted three different taxonomic levels in figures \ref{level_one_barstack}, \ref{level_two_barstack} and \ref{level_three_barstack}:

{{level_one_barstack}}

{{level_two_barstack}}

{{level_three_barstack}}

-------

{{#comparison}}
Comparison
----------
We now would like to start comparing samples amongst each other to determine which ones are similar or if any clear groups can be observed. A first means of doing that is by using the information in the OTU table and a distance metric such as the "Horn 1966 (adapted from Morisita 1959)" one to place them on an ordination plot. This can be seen in figure \ref{otu_nmds}.

{{otu_nmds}}

These kind of graphs have a random component to them and can be easily influenced by one or two differently looking samples.

Distances
---------
To compute beta diversity, other distance measures are possible of course. Bray-Curtis and Jaccard distance matrices can be created. We can also explore phylogenetic distance measures such as the UniFrac one. This is also possible and a UniFrac distance matrix can easily be computed. One can also build a hierarchical clustering of the samples from it (not included).

-------
{{/comparison}}

{{#alpha_diversity}}
Alpha diversity
---------------
For each individual sample, we can compute several diversity estimators. More details on this procedure are available in each individual sample report. Here, a summary table is provided where the OTU table was downsampled (randomly rarefied) to {{down_sampled_to}} counts so that the different diversity estimates can be compared across samples.

{{alpha_diversity_table}}

-------
{{/alpha_diversity}}

Environmental tags
------------------
Relying on different kinds of databases and their meta-data, we can try to infer and assign a typical environmental tag to each sequence. This, in turn, enables us to assign a linear combination of environmental tags to each sample and to the cluster as a whole. This method is also available upon request:

> <https://github.com/xapple/seqenv>