Sample "{{sample_short_name}}"
==============================

General Information
-------------------
This sample has the code "`{{sample_short_name}}`" and is named "{{sample_long_name}}". It is part of the project code "`{{project_short_name}}`" ("{{project_long_name}}") along with {{project_other_samples}} other samples.

-------

Meta-data details
-----------------
All the meta-data associated with this file is displayed below:

{{json_content}}

-------

Processing
----------
* This report (and all the analysis) was generated using the SIFES project at: <{{project_url}}>

* A more detailed peer reviewed article has been [published in PLoS ONE](http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0116955) describing parts of this method.

* Version `{{project_version}}` of the pipeline was used.

* This document was generated at `{{now}}`.

{{#git}}
* The exact git hash of the latest commit was: {{git_hash}}

* Also more simply referred to by its shortened tag `{{git_tag}}`.
{{/git}}
-------

Raw data
--------
* The forward read file weighed *{{fwd_size}}* and contained *{{fwd_count}}* reads with an average PHRED quality of *{{fwd_qual}}*
* The reverse read file weighed *{{rev_size}}* and contained *{{rev_count}}* reads with an average PHRED quality of *{{rev_qual}}*

The average quality per base can be seen in figure \ref{per_base_qual} and the average quality per sequence in figure \ref{per_seq_qual}.

{{per_base_qual}}

{{per_seq_qual}}

-------

Joining
--------
The first step in processing is joining the forward and reverse reads together. This is done with a program called {{joiner_version}}. Exactly {{assembled_count}} reads were joined, {{unassembled_count}} where unable to be joined and subsequently discarded. The size of the overlapping region varies for every read, hence a distribution of sequence lengths is produced after this step and can be seen in figure \ref{joined_len_dist}. The joining operation removes the quality information from the reads, as scores in the overlapping region would not be conceptually the same as the other scores.

{{joined_len_dist}}

-------

{{#filtering}}
Filtering
---------
Next, we filter the sequences based on several criteria. These many sequences are lost:

* Checking for the presence of both primers within at least {{primer_max_dist}} base pairs of the read ends and with at most {{mismatches_allowed}} mismatches allowed discards {{primer_discard}} sequences ({{primer_left}} left).
* Checking for the absence of undetermined "N" bases anywhere in the reads (expect in the primers) discards {{n_base_discard}} sequences ({{n_base_left}} left).
* Checking that no sequence is shorter than {{min_read_length}} base pairs and no sequence is longer than {{max_read_length}} base pairs discards {{length_discard}} sequences ({{length_left}} left).

This leaves us with {{percent_remaining}} of the all original sequences.

-------
{{/filtering}}

{{#taxonomy_table}}
Taxonomy
--------
Further analysis is usually performed not at the single sample level but on a bunch of samples at the same time (samples are grouped into clusters), so you should go see the corresponding cluster report now. This will include OTU generation, taxonomic assignment and more filtering. Nonetheless we can present some of the results from that analysis here. Here are the 20 most abundant genera observed in this sample:

{{genera_table}}

-------
{{/taxonomy_table}}

{{#diversity}}
Diversity
---------
One of the basic questions one can ask is "What is the diversity in this sample ?", or more specifically "What are the richness and evenness ?". Several estimators are available. Moreover, we can calculate these estimates at several rarefaction values to check if the sampling depth was sufficient. We input the OTU count vector for this specific sample (containing {{total_otu_sum}} sequences) and down-sample it iteratively (without replacement). The Chao1, ACE, Shannon and Simpsons estimates can be seen in figures \ref{chao1_curve}, \ref{ace_curve}, \ref{shannon_curve} and \ref{simpson_curve}.

{{chao1_curve}}

{{ace_curve}}

{{shannon_curve}}

{{simpson_curve}}
{{/diversity}}
