Demultiplexing "{{plex_short_name}}"
====================================

General Information
-------------------
This multiplexed operation has the code "{{plex_short_name}}" and is named "{{plex_long_name}}".

-------

Processing
----------
* This report (and all the analysis) was generated using the SIFES project at: <{{project_url}}>

* Version `{{project_version}}` of the pipeline was used.

* This document was generated at `{{now}}`.

{{#git}}
* The exact git hash of the latest commit was: {{git_hash}}

* Also more simply referred to by its shortened tag `{{git_tag}}`.
{{/git}}
-------

Input data
----------
* There were {{count_input_files}} input files.

* They combined into {{count_pools}} multiplexing pools.

* The files contained the following amount of reads:

{{input_table}}

-------

Result
--------
* The above files were split into {{count_real_samples}} real samples using a custom barcode.

* The samples once demultiplexed contained the following amount of reads:

{{output_table}}

* The amount of reads that could not be assigned to any sample and were therefor lost is {{count_loss}}.